{% extends 'main/base.html' %}
{% block title %}ToDoList | Add Task{% endblock %}

{% block body %}
<script type="text/javascript">
    $(function() {
        $("#routine_option").change(function () {
            $('#certain_due_date_option_div').hide()
            $('#routine_option_div').show()
        });
        $("#certain_due_date_option").change(function () {
            $('#routine_option_div').hide()
            $('#certain_due_date_option_div').show()
        });
        
        
        
        
        // $('#routine_option').click(function() {
        //     if ($(this).is(':checked')) {
        //         if($('#certain_due_date_option').is(':checked')){
        //             $('#certain_due_date_option').click()
        //         }
        //         $('#sunday').removeAttr('disabled');
        //         $('#monday').removeAttr('disabled');
        //         $('#tuesday').removeAttr('disabled');
        //         $('#wednesday').removeAttr('disabled');
        //         $('#thursday').removeAttr('disabled');
        //         $('#friday').removeAttr('disabled');
        //         $('#saturday').removeAttr('disabled');
        //     } else {
        //         $('#sunday').attr('disabled', 'disabled');
        //         $('#monday').attr('disabled', 'disabled');
        //         $('#tuesday').attr('disabled', 'disabled');
        //         $('#wednesday').attr('disabled', 'disabled');
        //         $('#thursday').attr('disabled', 'disabled');
        //         $('#friday').attr('disabled', 'disabled');
        //         $('#saturday').attr('disabled', 'disabled');
        //     }
        // });
        // $('#certain_due_date_option').click(function() {
        //     if ($(this).is(':checked')) {
        //         if($('#routine_option').is(':checked')){
        //             $('#routine_option').click()
        //         }
        //         $('#certain_date').removeAttr('disabled');
        //     } else {
        //         $('#certain_date').attr('disabled', 'disabled');
        //     }
        // });
        // $('#sunday').attr('disabled', 'disabled');
        // $('#monday').attr('disabled', 'disabled');
        // $('#tuesday').attr('disabled', 'disabled');
        // $('#wednesday').attr('disabled', 'disabled');
        // $('#thursday').attr('disabled', 'disabled');
        // $('#friday').attr('disabled', 'disabled');
        // $('#saturday').attr('disabled', 'disabled');
        // $('#certain_date').attr('disabled', 'disabled');
        // $('#certain_time').attr('disabled', 'disabled');
        // $('label[for=routinelabel]').hide()
        // $('label[for=sunday], input#sunday').hide()
        // $('label[for=monday], input#monday').hide()
        // $('label[for=tuesday], input#tuesday').hide()
        // $('label[for=wednesday], input#wednesday').hide()
        // $('label[for=thursday], input#thursday').hide()
        // $('label[for=friday], input#friday').hide()
        // $('label[for=saturday], input#saturday').hide()
        $('#routine_option_div').hide()
        $('#certain_due_date_option_div').hide()
    });
</script>

<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:task_list' %}">Tasks</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Task</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
    <form role="form" action="{% url 'main:add_task' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter name">
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlSelect1">Category</label>
            <select class="form-control" name="task_category" id="task_category">
              {% for task_category in task_categories %}
              <option>{{task_category}}</option>
              {% endfor %}
            </select>
          </div>
        
        <div class="form-group">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="routine_option" id="routine_option" autocomplete="off"> Routine
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="certain_due_date_option" id="certain_due_date_option" autocomplete="off"> One-Time
                </label>
            </div>
        </div>
            
        
        <div class="form-group form-check" id="routine_option_div">
            <!--<input type="checkbox" class="form-check-input" id="routine_option" name="routine_option">-->
            <label class="form-check-label" for="routinelabel">Routine Dates</label>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="sunday" name="sunday">
                <label class="form-check-label" for="sunday">Sunday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="monday" name="monday">
                <label class="form-check-label" for="monday">Monday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="tuesday" name="tuesday">
                <label class="form-check-label" for="tuesday">Tuesday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="wednesday" name="wednesday">
                <label class="form-check-label" for="wednesday">Wednesday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="thursday" name="thursday">
                <label class="form-check-label" for="thursday">Thursday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="friday" name="friday">
                <label class="form-check-label" for="friday">Friday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="saturday" name="saturday">
                <label class="form-check-label" for="saturday">Saturday</label>
            </div>
        </div>
        
        <div class="form-group form-check" id="certain_due_date_option_div">
            <!--<input type="checkbox" class="form-check-input" id="certain_due_date_option" name="certain_due_date_option">-->
            <label class="form-check-label">Certain Date?</label>
            <input type="date" class="form-control" id="certain_date" name="certain_date" placeholder="Enter name">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
</div>

<div class="col-sm-12">

</div>


{% endblock %}