{% extends 'main/base.html' %}
{% block title %}ToDoList | Add Task{% endblock %}

{% block body %}
<script type="text/javascript">
    $(function() {
        csrf_token = $('input[name=csrfmiddlewaretoken]').val();
        
        $("#routine_option").change(function () {
            $('#certain_due_date_option').prop('checked', false);
            $('#certain_due_date_option_div').hide()
            $('#routine_option_div').show()
        });
        $("#certain_due_date_option").change(function () {
            $('#routine_option').prop('checked', false);
            $('#routine_option_div').hide()
            $('#certain_due_date_option_div').show()
        });
        $("#every_day").change(function () {
            if ($(this).is(':checked')) {
                $('#sunday').prop('checked', true);
                $('#monday').prop('checked', true);
                $('#tuesday').prop('checked', true);
                $('#wednesday').prop('checked', true);
                $('#thursday').prop('checked', true);
                $('#friday').prop('checked', true);
                $('#saturday').prop('checked', true);
            } else {
                $('#sunday').prop('checked', false);
                $('#monday').prop('checked', false);
                $('#tuesday').prop('checked', false);
                $('#wednesday').prop('checked', false);
                $('#thursday').prop('checked', false);
                $('#friday').prop('checked', false);
                $('#saturday').prop('checked', false);
            }
        });
        $("#sunday, #monday, #tuesday, #wednesday, #thursday, #friday, #saturday").change(function () {
            var sun = $('#sunday').is(':checked'); 
            var mon = $('#monday').is(':checked');
            var tue = $('#tuesday').is(':checked');
            var wed = $('#wednesday').is(':checked');
            var thu = $('#thursday').is(':checked');
            var fri = $('#friday').is(':checked');
            var sat = $('#saturday').is(':checked');
            
            var all_checked = sun && mon && tue && wed && thu && fri && sat;
            
            if (all_checked===true) {
                $('#every_day').prop('checked', true);
                console.log('fsdfsdfdf')
            } else if ($(this).not(':checked')) {
                $('#every_day').prop('checked', false);
            }
        });
        
        
        $("body").on('click', '#category_button', function () {
            
            $.ajax({
                type: 'POST',
                url: '/add_task/',
                data: {
                  category_list: true,
                  csrfmiddlewaretoken : csrf_token
                },
                success: function(response){
                    $('#category_modal_body').empty();
                    $('#category_modal_body').append(response);
                    $('#category_modal').modal('show');
                }
            });
            
 
            
        });
        
        // $("body").on('click', '#add_category_submit', function () {
        //     var category_name = $("input[name='category_name']").val()
        //     $.ajax({
        //         type: 'POST',
        //         url: '/add_task/',
        //         data: {
        //           category_name: category_name,
        //           csrfmiddlewaretoken : csrf_token
        //         },
        //         success: function(response){
        //             $('#task_category').append('<option>' + response + '</option>')
        //             $('#add_category_modal').modal('hide');
        //         }
        //     });
        // });
        
        
        $('form').submit(function(){
            $('#errorModalBody').empty();
            
            error_list = "";
            certain_due_date_option = $('#certain_due_date_option').is(':checked');
            routine_option = $('#routine_option').is(':checked');
            both_options_off = !(certain_due_date_option || routine_option);
            name_empty = $("input[name=name]").val() == "";
            cat_empty = $( "#task_category option:selected" ).text() == "";
            
            if (name_empty) {
                error_list += "<p>A name is required.</p>";
            }
            
            if (cat_empty) {
                error_list += "<p>A category is required.</p>";
            }
            
            if (both_options_off){
                error_list += "<p>You must choose either routine or one-time.</p>";
                $('#errorModalBody').append(error_list);
                $('#errorModal').modal('show');
                return false;
            }
            
            if (routine_option){
                var sun = $('#sunday').is(':checked'); 
                var mon = $('#monday').is(':checked');
                var tue = $('#tuesday').is(':checked');
                var wed = $('#wednesday').is(':checked');
                var thu = $('#thursday').is(':checked');
                var fri = $('#friday').is(':checked');
                var sat = $('#saturday').is(':checked');
                var none_checked = !(sun || mon || tue || wed || thu || fri || sat);
                
                if (none_checked===true){
                    error_list += "<p>You must choose at least one weekday.</p>"
                }
                
            } else if (certain_due_date_option) {
                date_empty = $('#certain_date').val() == ""
                
                if (date_empty){
                    error_list += "<p>You must choose a date.</p>"
                }
                
            }
            
            if (error_list != ""){
                $('#errorModalBody').append(error_list);
                $('#errorModal').modal('show');
                return false;
            }
        });
    });
</script>

<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:task_list' %}">Tasks</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Task</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
    <form role="form" action="{% url 'main:add_task' %}" method="post" enctype="multipart/form-data">
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
          <h4>{{error_message}}</h4>
        </div>
        {% endif %}
        
        {% csrf_token %}

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter name">
        </div>
        
        <div class="form-group">
            <label for="exampleFormControlSelect1">
                Category
                <a class="btn btn-primary" id="category_button" role="button">Add</a>
            </label>
            <select class="form-control" name="task_category" id="task_category">
              {% for task_category in task_categories %}
              <option>{{task_category}}</option>
              {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="routine_option" id="routine_option" autocomplete="off"> Routine
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="certain_due_date_option" id="certain_due_date_option" autocomplete="off"> One-Time
                </label>
            </div>
        </div>
            
        
        <div class="form-group form-check" id="routine_option_div" style="display: none;">
            <!--<input type="checkbox" class="form-check-input" id="routine_option" name="routine_option">-->
            <label class="form-check-label" for="routinelabel">Routine Dates</label>
            
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="sunday" name="sunday">
                <label class="form-check-label" for="sunday">Sunday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="monday" name="monday">
                <label class="form-check-label" for="monday">Monday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="tuesday" name="tuesday">
                <label class="form-check-label" for="tuesday">Tuesday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="wednesday" name="wednesday">
                <label class="form-check-label" for="wednesday">Wednesday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="thursday" name="thursday">
                <label class="form-check-label" for="thursday">Thursday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="friday" name="friday">
                <label class="form-check-label" for="friday">Friday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="saturday" name="saturday">
                <label class="form-check-label" for="saturday">Saturday</label>
                <br>
                <br>
                <input type="checkbox" class="form-check-input" id="every_day">
                <label class="form-check-label" for="every_day">Every Day</label>
            </div>
        </div>
        
        <div class="form-group form-check" id="certain_due_date_option_div" style="display: none;">
            <!--<input type="checkbox" class="form-check-input" id="certain_due_date_option" name="certain_due_date_option">-->
            <label class="form-check-label">Certain Date?</label>
            <input type="date" class="form-control" id="certain_date" name="certain_date" placeholder="Enter name">
        </div>
        
        <button type="button" class="btn btn-danger" onclick="window.history.go(-1)">Back</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="color:black;">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel" >Error:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="errorModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="category_modal" tabindex="-1" role="dialog" aria-labelledby="category_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="color:black;">
      <div class="modal-header">
        <h5 class="modal-title">Category List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="category_modal_body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="add_category_submit" >Okay</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}