{% extends 'main/base.html' %}
{% block title %}Exercise | Home{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <form role="form" action="{% url 'main:add_task' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
    
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter name">
                </div>
                
                <div class="form-group form-check">
                    <label class="form-check-label">Routine Days (optional):</label>
                    <br>
                    <input type="checkbox" class="form-check-input" name="sunday">
                    <label class="form-check-label" for="sunday">Sunday</label>
                    <br>
                    <input type="checkbox" class="form-check-input" name="monday">
                    <label class="form-check-label" for="monday">Monday</label>
                    <br>
                    <input type="checkbox" class="form-check-input" name="tuesday">
                    <label class="form-check-label" for="tuesday">Tuesday</label>
                    <br>
                    <input type="checkbox" class="form-check-input" name="wednesday">
                    <label class="form-check-label" for="wednesday">Wednesday</label>
                    <br>
                    <input type="checkbox" class="form-check-input" name="thursday">
                    <label class="form-check-label" for="thursday">Thursday</label>
                    <br>
                    <input type="checkbox" class="form-check-input" name="friday">
                    <label class="form-check-label" for="friday">Friday</label>
                    <br>
                    <input type="checkbox" class="form-check-input" name="saturday">
                    <label class="form-check-label" for="saturday">Saturday</label>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
            
            <br>
        </div>
    </div>
</div>
    
        




{% endblock %}