{% extends 'main/base.html' %}
{% block title %}ToDoList | Add Task{% endblock %}

{% block body %}
<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:task_list' %}">Task List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Task Step</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
    <form role="form" action="{% url 'main:edit_task_step' stepPk=certain_task_step.id taskPk=certain_task_step.task.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter name" value="{{certain_task_step.name}}">
        </div>
        
        <button type="button" class="btn btn-danger" onclick="window.history.go(-1)">Back</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
</div>

<div class="col-sm-12">

</div>


{% endblock %}