{% extends 'main/base.html' %}
{% block title %}ToDoList | Add Task{% endblock %}

{% block body %}
<script>
    var is_routine = {{certain_task.routine_task|lower}}
    var is_certain_due_date = {{certain_task.certain_due_date_task|lower}}
    var sunday = {{certain_task.sunday|lower}}
</script>
<script type="text/javascript">
    $(function() {
        $("#routine_option").change(function () {
            $('#certain_due_date_option_div').hide()
            $('#routine_option_div').show()
        });
        $("#certain_due_date_option").change(function () {
            $('#routine_option_div').hide()
            $('#certain_due_date_option_div').show()
        });
        $("#every_day").change(function () {
            if ($(this).is(':checked')) {
                $('#sunday').prop('checked', true);
                $('#monday').prop('checked', true);
                $('#tuesday').prop('checked', true);
                $('#wednesday').prop('checked', true);
                $('#thursday').prop('checked', true);
                $('#friday').prop('checked', true);
                $('#saturday').prop('checked', true);
            } else {
                $('#sunday').prop('checked', false);
                $('#monday').prop('checked', false);
                $('#tuesday').prop('checked', false);
                $('#wednesday').prop('checked', false);
                $('#thursday').prop('checked', false);
                $('#friday').prop('checked', false);
                $('#saturday').prop('checked', false);
            }
        });
        $("#sunday, #monday, #tuesday, #wednesday, #thursday, #friday, #saturday").change(function () {
            if ($(this).not(':checked')) {
                $('#every_day').prop('checked', false);
            }
        });
        $('#routine_option_div').hide()
        $('#certain_due_date_option_div').hide()
        if (is_routine == true){
            $('#routine_option_div').show()
        } else if (is_certain_due_date == true){
            $('#certain_due_date_option_div').show()
        }
        
        
        if (sunday == true){
            
        }
    });
    
</script>

<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:task_list' %}">Task List</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main:task_detail' pk=certain_task.id %}">{{certain_task.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Task</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
    <form role="form" action="{% url 'main:edit_task' pk=certain_task.id %}" method="post" enctype="multipart/form-data">
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
          <h4>{{error_message}}</h4>
        </div>
        {% endif %}
        
        {% csrf_token %}

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter name" value="{{certain_task.name}}">
        </div>
        
        <div class="form-group">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="routine_option" id="routine_option" autocomplete="off"> Routine
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="certain_due_date_option" id="certain_due_date_option" autocomplete="off"> One-Time
                </label>
            </div>
        </div>
            
        
        <div class="form-group form-check" id="routine_option_div">
            <!--<input type="checkbox" class="form-check-input" id="routine_option" name="routine_option">-->
            <label class="form-check-label" for="routinelabel">Routine Dates</label>
            
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="sunday" name="sunday"
                {% if certain_task.sunday %} value="True" {% endif %}>
                <label class="form-check-label" for="sunday">Sunday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="monday" name="monday"
                {% if certain_task.monday %} value="{{certain_task.monday}}" {% endif %}>
                <label class="form-check-label" for="monday">Monday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="tuesday" name="tuesday"
                {% if certain_task.tuesday %} value="{{certain_task.tuesday}}" {% endif %}>
                <label class="form-check-label" for="tuesday">Tuesday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="wednesday" name="wednesday"
                {% if certain_task.wednesday %} value="{{certain_task.wednesday}}" {% endif %}>
                <label class="form-check-label" for="wednesday">Wednesday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="thursday" name="thursday"
                {% if certain_task.thursday %} value="{{certain_task.thursday}}" {% endif %}>
                <label class="form-check-label" for="thursday">Thursday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="friday" name="friday"
                {% if certain_task.friday %} value="{{certain_task.friday}}" {% endif %}>
                <label class="form-check-label" for="friday">Friday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="saturday" name="saturday"
                {% if certain_task.saturday %} value="{{certain_task.saturday}}" {% endif %}>
                <label class="form-check-label" for="saturday">Saturday</label>
                <br>
                <br>
                <input type="checkbox" class="form-check-input" id="every_day">
                <label class="form-check-label" for="every_day">Every Day</label>
            </div>
        </div>
        
        <div class="form-group form-check" id="certain_due_date_option_div">
            <!--<input type="checkbox" class="form-check-input" id="certain_due_date_option" name="certain_due_date_option">-->
            <label class="form-check-label">Certain Date</label>
            <input type="date" class="form-control" id="certain_date" name="certain_date" placeholder="Enter name"
            {% if certain_task.certain_due_date_task %} value="{{certain_task.date|date:'Y-m-d'}}" {% endif %}>
        </div>
        
        <button type="button" class="btn btn-danger" onclick="window.history.go(-1)">Back</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
</div>

<div class="col-sm-12">

</div>


{% endblock %}