{% extends 'main/base.html' %}
{% block title %}ToDoList | Home{% endblock %}

{% block body %}
<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>   
    <br>
</div>

<div class="col-sm-12">
    <a href="{% url 'main:task_list' %}">
        <button type="button" class="btn btn-primary btn-lg btn-block">Task List</button>
    </a>
    <br>
    <a href="{% url 'main:task_category_list' %}">
        <button type="button" class="btn btn-primary btn-lg btn-block">Task Category List</button>
    </a>
    <br>
    <a href="{% url 'main:today' %}">
        <button type="button" class="btn btn-primary btn-lg btn-block">Today</button>
    </a>
    <br>
    <a href="{% url 'main:week_view' %}">
        <button type="button" class="btn btn-primary btn-lg btn-block">Week View</button>
    </a>
</div>
{% endblock %}