{% extends 'main/base.html' %}
{% block title %}ToDoList | Task List{% endblock %}

{% block body %}
<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tasks</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
    <h1 style="font-weight:bold;">Task List</h1>
    {% for task in tasks %}
    <h4>
        <a href="{% url 'main:task_detail' pk=task.pk %}">{{task}}</a>
        <a href="{% url 'main:delete_task' pk=task.pk %}">Delete</a>
    </h4>
    {% endfor %}
    <br>
    <h2><a href="{% url 'main:add_task' %}">Add Task</a></h2>
</div>
{% endblock %}