{% extends 'main/base.html' %}
{% load static %}
{% block title %}ToDoList | Task List{% endblock %}

{% block body %}
<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Task List</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
  <h1 style="font-weight:bold;text-align:center;">Task List</h1>
  <br>
  <a href="{% url 'main:add_task' %}" class="btn btn-success btn-lg btn-block">Add Task</a>
  <br>
</div>


{% for task in tasks %}
<div class="col-sm-4">
  <div class="card" style="color:black;background:#ffff8d;border: solid white;border">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center;font-weight: bold;">{{task.name}}</h5>
      <br>
      <a href="{% url 'main:task_detail' pk=task.id %}" class="btn btn-primary btn-md"><img src="{% static 'main/img/edit.png' %}"></a>
      <a href="{% url 'main:delete_task' pk=task.id %}" class="btn btn-danger btn-md float-right"><img src="{% static 'main/img/delete.png' %}"></a>
    </div>
  </div>
  <br>
</div>
{% endfor %}




{% endblock %}