{% extends 'main/base.html' %}
{% block title %}Exercise | Home{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Task: {{certain_task}}</h1>
            <br>
            <h2>Steps:</h2>
            {% for step in certain_task_steps %}
            <h4>&emsp;{{step.step_number}}. {{step.name}}</h4>
            {% endfor %}
            <h4><a href="{% url 'main:add_step' pk=certain_task.pk %}">Add Step</a></h4>
            <br>
        </div>
    </div>
</div>
    
        




{% endblock %}