{% extends 'main/base.html' %}
{% block title %}ToDoList | Today{% endblock %}

{% block body %}
<script type="text/javascript">
$( document ).ready(function() {
    $(window).load(function(){
        if ($('#refreshed').val() == "false") {
          $('#refreshed').val("true"); 
        }
        else {
          $('#refreshed').val("false");
          location.reload();
        }
      });
});
</script>

<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Today</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
    <h1 style="text-align:center;">{{ today_weekday }}</h1>
    <br>
</div>

{% for a in array %}
<div class="col-sm-4">
    <div class="card" style="color:white;text-align:center;background:#212529;">
      <div class="card-body">
        <h5 class="card-title">{{a.0.task.name}}</h5>
        {% if a.0.completed %}
        <form role="form" action="{% url 'main:today' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg btn-block">Done</button>
            <input type="hidden" class="form-check-input" name="task_entry_toggle_completed" value="{{a.0.id}}">
        </form>
        {% elif a.1|length == 0 %}
        <form role="form" action="{% url 'main:today' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Mark As Done</button>
            <input type="hidden" class="form-check-input" name="task_entry_toggle_completed" value="{{a.0.id}}">
        </form>
        {% else %}
        <button type="button" class="btn btn-secondary btn-lg btn-block">In Progress...</button>
        {% endif %}
      </div>
    </div>
</div>
{% endfor %}

{% endblock %}