{% extends 'main/base.html' %}
{% block title %}ToDoList | Today{% endblock %}

{% block body %}
{% csrf_token %}
<script type="text/javascript">
    $(function(){
        csrf_token = $('input[name=csrfmiddlewaretoken]').val();
        
        $(".task_marker").click(function(){
            var button = $(this);
            var task_entry_pk = button.siblings('input').val();
            $.ajax({
                type: 'POST',
                url: '/today/',
                data: {
                    task_entry_pk: task_entry_pk,
                    csrfmiddlewaretoken : csrf_token
                },
                success: function(response){
                    if (button.hasClass('btn-success')){
                        button.text('Mark All Steps Done');
                        button.removeClass('btn-success');
                        button.addClass('btn-secondary');
                        $(response).insertAfter(button);
                    } else {
                        button.text('Done');
                        button.removeClass('btn-dark');
                        button.addClass('btn-success');
                        button.siblings('.step_form,br').remove();
                    }
                }
            });
        });
        
        $("body").on('click', '.step_marker', function () {
            var button = $(this);
            console.log(button);
            var step_entry_pk = button.siblings('input').val();
            var task_entry_pk = button.parent().siblings('input').val();
            $.ajax({
                type: 'POST',
                url: '/today/',
                data: {
                    step_entry_pk: step_entry_pk,
                    task_entry_pk: task_entry_pk,
                    csrfmiddlewaretoken: csrf_token
                },
                success: function(response){
                    if (response == "taskCompleted"){
                        task_marker = button.parent().siblings('button');
                        task_marker.text('Done');
                        task_marker.removeClass('btn-dark');
                        task_marker.addClass('btn-success');
                        button.parent().parent().children('.step_form,br').remove();
                    } else {
                        if (button.hasClass('btn-success')){
                            button.text('Mark Done');
                            button.removeClass('btn-success');
                            button.addClass('btn-dark');
                        } else {
                            button.text('Done');
                            button.removeClass('btn-dark');
                            button.addClass('btn-success');
                        }
                    }
                },
            });
        });
    });
</script>

<div class="col-sm-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Today</li>
        </ol>
    </nav>    
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-body" style="background:#161616;color:white;text-align:center;font-weight:bold;">
            <h1 class="card-title">{{ today_weekday }}</h1>
        </div>
    </div>
    <br>
</div>

{% for a in array %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-body" style="background:#00183f;color:white;text-align:center;font-weight:bold;">
            <h2 class="card-title">{{a.0}}</h2>
        </div>
    </div>
    <br>
</div>
    {% for b in a.1 %}
    <div class="col-sm-4">
        <div class="card" style="color:white;text-align:center;background:#212529;">
            <div class="card-body">
                <h5 class="card-title">{{b.0.task.name}}</h5>
                {% if b.0.completed %}
              
                    
                    <button type="button" class="btn btn-success btn-lg btn-block task_marker">Done</button>
                    <input type="hidden" class="form-check-input" name="task_entry" value="{{b.0.id}}">

                {% elif b.1|length == 0 %}
                    <button type="button" class="btn btn-secondary btn-lg btn-block task_marker">Mark Done</button>
                    <input type="hidden" class="form-check-input" name="task_entry" value="{{b.0.id}}">
                {% else %}
               
                    <button type="button" class="btn btn-secondary btn-lg btn-block task_marker">Mark All Steps Done</button>
                    <input type="hidden" class="form-check-input" name="task_entry" value="{{b.0.id}}">

                
                {% endif %}
                
                {% if not b.0.completed %}
                    <br>
                    {% for step_entry in b.1 %}
                            <form class="step_form" role="form" action="{% url 'main:today' %}" method="post" enctype="multipart/form-data">
                                <h6>{{step_entry.step.step_number}}: {{step_entry.step.name}}</h6>
                                {% if step_entry.completed %}
                                <!--<button type="submit" class="btn btn-success btn-sm">Done</button>-->
                                <button type="button" class="btn btn-success btn-sm step_marker">Done</button>
                                {% else %}
                                <!--<button type="submit" class="btn btn-dark btn-sm">Mark Done</button>-->
                                <button type="button" class="btn btn-dark btn-sm step_marker">Mark Done</button>
                                {% endif %}
                                <input type="hidden" class="form-check-input" name="step_entry" value="{{step_entry.id}}">
                                <div><br></div>
                            </form>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <br>
    </div>
    {% endfor %}
{% endfor %}

{% endblock %}